@model BillboardApp.ViewModels.AgencyIndexViewModel
@{
    ViewBag.Title = "Create2";
}

<h2>Create2</h2>



<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
